<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vktor Mrtins</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portfolio">Aulas</a>
        </div>
    </header>

    <div id="wrapper">
        <img src="https://avatars1.githubusercontent.com/u/33494087?s=460&u=8956e4ac4beec29c0e2b9c60c01f12d6472160c3&v=4" alt="Vktor Mrtins">
        <h1>VKtor Mrtins</h1>
        <h2>Natural Bodybuilder</h2>
        <p>Programador full-stack, bodybuilder e data scientist</p>
    </div>

    <div id="links_footer" class="links">
        <a href="https://github.com/vktorbr" target="_blank">Github</a>
        <a href="https://twitter.com/vktorbr" target="_blank">Twitter</a>
        <a href="https://instagram.com/victornelas" target="_blank">Instagram</a>
    </div>
</body>
</html>