<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vktor Mrtins</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portfolio">Aulas</a>
        </div>
    </header>

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>
    <section class="cards">
        <div class="card" id="1nVUfZg2dSA">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/1nVUfZg2dSA/maxresdefault.jpg" alt="video aula">
            </div>
            <div class="card_content">
                <p>Como inicio meus apps com ReactJS? Next.js, TypeScript, ESLint e Styled Components | Code/Drops #50</p>
            </div>
            <div class="card_info">
                <p>44 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>
        <div class="card" id="bJVp_vlvMwQ">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/bJVp_vlvMwQ/maxresdefault.jpg" alt="video aula">
            </div>
            <div class="card_content">
                <p>Interface da Twitch.tv | UI Clone</p>
            </div>
            <div class="card_info">
                <p>59 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>
        <div class="card" id="De5np8phQxo">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/De5np8phQxo/maxresdefault.jpg" alt="video aula">
            </div>
            <div class="card_content">
                <p>Armazenando dados no Navegador com localStorage | Code/Drops #49
                </p>
            </div>
            <div class="card_info">
                <p>52 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>
        <div class="card" id="HKE4ukzOz-U">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/HKE4ukzOz-U/maxresdefault.jpg" alt="video aula">
            </div>
            <div class="card_content">
                <p>Por que migramos para o Linux? Como testar apps iOS no Windows, GarageBand com RN? | #PR 15</p>
            </div>
            <div class="card_info">
                <p>18 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>
        <div class="card" id="oYk2A7t_x0o">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/oYk2A7t_x0o/maxresdefault.jpg" alt="video aula">
            </div>
            <div class="card_content">
                <p>Marcos Mathias, Business Analyst, Project Manager, Team Lead at IBM | Alumni #07
                </p>
            </div>
            <div class="card_info">
                <p>60 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>
        <div class="card" id='34fiafm5gz4'>
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/34fiafm5gz4/maxresdefault.jpg" alt="video aula">
            </div>
            <div class="card_content">
                <p>Inteligência Artificial, por onde começar?
                </p>
            </div>
            <div class="card_info">
                <p>62 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>
    </section>
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>